<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_logged_in_article_path(@article) %> |
  <%= link_to "Back to articles", logged_in_articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>
